.site-footer, .page-wrap:after {
    padding-top: 10px;
    height: 140px; 
    font-size: small;
    margin-top: 20px;
    background-color: rgb(55, 132, 248);
    /*position:absolute;*/
    bottom: 0;
    left: 0;
    
  }

  p{
    margin-top: 0; 
    font-family: "Courier New";
    line-height: 0.7;
  }

/*nav {
    background-color: #daedf7;
    padding: 25px;
  
}


nav a {
    text-decoration: none;
    margin-right: 10px;
    background-color: #0070AD;
    padding: 5px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 10px;
    color: rgb(239, 255, 236);
}

nav a:hover {
    background-color: #e9f1f3;
    color: rgb(14, 177, 177)
}*/
/*

.estilo {
    padding-left: 100%;
}*/